<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <link href="/notify/views/style.css" rel="stylesheet">
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<section ng-view></section>
  <script type="text/javascript" src="/lib/angular/angular.js"></script>
  <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/lib/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="/lib/angular-touch/angular-touch.min.js"></script>
  <script type="text/javascript" src="/lib/angular-touch/angular-touch.min.js"></script>
  <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="/lib/angular-clipboard/angular-clipboard.js"></script>  

  <script type="text/javascript" src="/notify/notify.js"></script>
  <script type="text/javascript" src="/notify/controllers/notify.notifyCtrl.js"></script>
  <script type="text/javascript" src="/notify/config/notify.routes.js"></script>

  <script type="text/javascript" src="/frontend-config.js"></script>
  <script type="text/javascript" src="/application.js"></script> 
</body>
</html>