<section data-ng-controller="notifyCtrl">
  <form novalidate>
    Body: <input type="text" ng-model="notification.title"><br>
    Message: <input type="text" ng-model="notification.message"><br>
    Pic: <input type="text" ng-model="notification.picture">
    <br>
    <button ng-click="sendNotify()">Notify!</button>
    <span ng-if="results">Results: {{results}}</span>
  </form>
</section>